
<h4>Enter new announcement:</h4>
{{announcement-new saveAnnouncement="saveAnnouncement"}}

<h4>Announcements:</h4>
{{announcement-display announcements=model deleteAnnouncement="deleteAnnouncement"}}
